@import '../../styles/colorPalette.scss';

.checkbox {
  &__wrapper {
    display: flex;
  }
  &__circle {
    width: 15px;
    height: 15px;
    padding: 1px 1px;
    background-color: $gray2021;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
  }

  &__svg {
    width: 9px;
    padding-bottom: 2px;
  }

  input {
    position: fixed;
    left: -5000px;
  }

  input:focus ~ .checkbox__circle {
    border: 1px dashed $yellow2021;
  }
  input:checked ~ .checkbox__circle {
    border: none;
  }

  input:hover ~ .checkbox__circle:not(.disabled) {
    background-color: $lightGray;
  }

  label {
    display: flex;
    cursor: pointer;
  }
}
