@import '../../styles/colorPalette.scss';

.radio {
  &__wrapper {
    display: flex;
  }
  &__circle {
    width: 15px;
    height: 15px;
    padding: 1px 1px;
    background-color: $gray2021;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
  }

  &__svg {
    width: 9px;
    padding-bottom: 2px;
  }

  input {
    position: fixed;
    left: -5000px;
  }

  input:focus ~ .radio__circle {
    border: 1px dashed $yellow2021;
  }
  input:checked ~ .radio__circle {
    border: none;
  }

  input:hover ~ .radio__circle:not(.disabled) {
    background-color: $lightGray;
  }

  label {
    display: flex;
    cursor: pointer;
  }

  &__button {
    display: flex;

    &__label {
      > input:disabled + span {
        background-color: rgba(148, 149, 151, 0.2);
      }

      > input:hover + span:not(.disabled) {
        color: $yellow2021;
      }

      > input:checked + span:hover {
        opacity: 0.9;
      }

      > input:checked + .radio__solid:hover {
        opacity: 0.9;
        color: $gray2021;
      }

      > input:checked + span:not(.radio__solid) {
        -webkit-text-stroke: 1.5px $yellow2021;
        text-shadow: 1px 1px 0 $gray2021, -1px 1px 0 $gray2021,
          1px -1px 0 $gray2021, -1px -1px 0 $gray2021, 0px 1px 0 $gray2021,
          0px -1px 0 $gray2021, -1px 0px 0 $gray2021, 1px 0px 0 $gray2021,
          2px 2px 0 $gray2021, -2px 2px 0 $gray2021, 2px -2px 0 $gray2021,
          -2px -2px 0 $gray2021, 0px 2px 0 $gray2021, 0px -2px 0 $gray2021,
          -2px 0px 0 $gray2021, 2px 0px 0 $gray2021, 1px 2px 0 $gray2021,
          -1px 2px 0 $gray2021, 1px -2px 0 $gray2021, -1px -2px 0 $gray2021,
          2px 1px 0 $gray2021, -2px 1px 0 $gray2021, 2px -1px 0 $gray2021,
          -2px -1px 0 $gray2021;
        border: 1px solid $yellow2021;
      }

      > input:focus + span {
        outline: 2px solid $lightYellow;
      }

      span {
        border: 1px solid $transparent;
        border-right: none;
        padding: 10px 10px;
      }

      &__solid {
        > input:checked + .radio__solid {
          background-color: $yellow2021;
          border-color: $yellow2021;
          color: $gray2021;
          font-weight: 600;
        }
      }
    }

    &__wrapper:last-child > label > span {
      border-right: 1px solid $transparent;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &__wrapper:first-child > label > span {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}
