.radio {
  &__wrapper {
    display: flex;
  }
  &__circle {
    width: 15px;
    height: 15px;
    padding: 1px 1px;
    background-color: rgba(148, 149, 151, 1);
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
  }

  &__svg {
    width: 9px;
    padding-bottom: 2px;
  }

  input {
    position: fixed;
    left: -5000px;
  }

  input:focus ~ .radio__circle {
    border: 1px dashed #f5df4e;
  }
  input:checked ~ .radio__circle {
    border: none;
  }

  input:hover ~ .radio__circle:not(.disabled) {
    background-color: rgba(148, 149, 151, 0.7);
  }

  label {
    display: flex;
    cursor: pointer;
  }

  &__button {
    display: flex;

    &__label {
      border: 1px solid #949597;
      border-right: none;
      padding: 10px 10px;
    }
  }
  label:last-of-type {
    color: hotpink;
  }
}
