.checkbox {
  &__wrapper {
    display: flex;
  }
  &__circle {
    width: 15px;
    height: 15px;
    padding: 1px 1px;
    background-color: #949597;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
  }

  &__svg {
    width: 9px;
    padding-bottom: 2px;
  }

  input {
    position: fixed;
    left: -5000px;
  }

  label {
    display: flex;
    cursor: pointer;
  }

  // input:focus + label::before + &__circle {
  //   border: 3px dashed #777;
  // }
}
