.checkbox {
  &__wrapper {
    display: flex;
  }
  &__circle {
    width: 15px;
    height: 15px;
    padding: 1px 1px;
    background-color: #949597;
    border-radius: 50%;
    text-align: center;

    cursor: pointer;
  }

  &__svg {
    width: 9px;
  }

  &__input__wrapper {
    input {
      position: fixed;
      left: -5000px;
    }
  }
}
